@mixin displayed ($width: 100%) {
    max-width: $width;
}

@mixin border-radius ($radius: 20px) {
    borderbot-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}
