// Color Names
$white: 	   #ffffff;
$yellow:	   #f6ea90;
$red: 		   #a00401;
$black:		   #000000;
$white-yellow: #f4eab2;
$rgba:          rgba(0, 0, 0, 0.7);

//Row Spacing
$top:     3%;
$buttom:  3%;

//Fonts
